body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}
.komponenta{
    width: 800px;
  margin: 16px auto;
  font-size: 16px;
  background: #ebebeb;
  padding: 12px;
}
.divdugme{
  box-sizing: border-box;
  width: 100%;
  border-width: 1px;
  border-style: hidden;
  padding: 16px;
  outline: 0;
}
button{
  font-family: inherit;
  font-size: 0.95em;
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.polazakDolazak{
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: hidden;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: #28d;
  color: #fff;
}
.cenaKarte{
    float: right;
}
.terminal{
    float: inherit;
}
.dolazak{
    display: inline;
   float: right; 
}

button :focus{
    border-color: #05a;
}

button :hover{
    background: #17c;
}